  <% include ././../partials/boilerplate %>
  <% include ././../partials/nav %>

  <div class='centerContainer'>
      <div style="width:100%";>
      <% if (places){%>
          <div class='centerContainer'>
            <div class="placeHolder" id="div${i}">

              <h3 class="info"> <%= places.description %></h3>
              <h3 class="info"> <%= places.address %> </h3>
              <h3 class="info"> Rating :<%= places.rating %> </h3>
              <img   class="image" src="<%= places.imageurl %>"></img>
              <img   class="icon" src="<%= places.iconurl %>"></img>
              <div class="buttonContainer">
                  <button><a class='linkto' href='/places/<%= places.id %>/edit'>Edit</a></button>
                  <form method='POST' action='/places/<%= places.id %>?_method=PUT'>
                    <input type='submit' value='Edit' >
                  </form>
              </div>
            </div>

        </div>

      <% }%>
    </div>
  </div>
  <% include ././../partials/pageFooter %>
  <% include ././../partials/end %>
