<!DOCTYPE html>
<html>
<head>
	<title>Visit Us</title>
</head>
<body>
    <script src="/src/jquery.js"></script>
	<script src="/src/main.js"></script>
	<% include ../views/partials/nav %>
		<div class="container">
	        <form  action='/getPlacesToGo' id="request">
				<input name='country' type='text' placeholder='Country'/>
				<input name='city' type='text' placeholder='City'/>
	          	<button id="search" type="submit">...</button>
	        </form>
		</div>
		<% if (placesToGo){%>
		<div class='container'>
			    <div class='centerContainer'>
					<% for (let i=0; i < placesToGo.length;i++) { %>
					<form method="POST" action="getPlacesToGo/add">
						<div class="placeHolder">

							<input type="text" name="description" class ="inputs"  value="<%= placesToGo[i].name %>" />

							<input type="text" name="address"     class ="inputs"  value="<%= placesToGo[i].formatted_address %>" />

							<input type="text" name="rating"     class ="inputsHidden"  value="<%= placesToGo[i].rating %>" />

							<input type="text" name="placeId"     class ="inputsHidden"  value="<%= placesToGo[i].id %>" />

							<img src="<%= imagesUrl[i] %>"></img>
							<input type="text" name="imageUrl" class ="inputsHidden"  value=<%= imagesUrl[i] %>" />

							<img src="<%= placesToGo[i].icon %>"></img>
							<input type="text" name="icon" class ="inputsHidden"  value=<%= imagesUrl[i] %>" />

						</div>
						<input id="submit" type='submit' value='Add Place'/>
					</form>
						<% } %>
				</div>
			</div>

		<% }%>

	<% include ../views/partials/pageFooter %>
<% include ../views/partials/end %>
